.experimental-block-testimonials {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.experimental-block-testimonial-item {
    flex-basis: calc(33.33% - 10px); /* Adjust the width and margin */
    margin-bottom: 20px; /* Adjust the margin */
    box-sizing: border-box;
}

.experimental-block-testimonials.col2 .experimental-block-testimonial-item {
    flex-basis: calc(50% - 10px);
}

.experimental-block-testimonials.col1 .experimental-block-testimonial-item {
    flex-basis: calc(100% - 10px);
}

@media screen and (max-width: 768px) {
    .experimental-block-testimonial-item {
        flex-basis: calc(50% - 10px); /* Two columns on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .experimental-block-testimonial-item {
        flex-basis: calc(100% - 10px); /* One column on even smaller screens */
    }
}

/* Adjust alignment when there are only two items */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .experimental-block-testimonials {
        justify-content: space-around;
    }
}