/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.back-to-top-icon-editor{
    display: block;
    position: fixed;
    right: 21%;
    bottom: 50px;
}
