/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

#editor .custom-book-button-panel-style {
    padding: 0;
    border-top: none;
    margin-bottom: 24px;

    .block-editor-tools-panel-color-gradient-settings__item.first {
        margin-top: 0;
    }
}
